<div>
<div class="modal-header">
  <h2 class="modal-title" align="center">Detalles del Evento</h2>
</div>

	<div class="modal-body"></div>
		
		<h3 align="center">Datos del evento </h2>
		<br>
		<h4 align="center">Nombre: {{event.name}}</h4>
		<h4 align="center">Direccion: {{event.address}}</h4>
		<h4 align="center">Costo: {{event.amount}}</h4>
		<h4 align="center">Momento del Dia: {{event.dayMoment}}</h4>
		<h4 align="center">Capacidad: {{event.limitOfPersons}}</h4>
		<br>
		<div class="modal-footer" > 
		<div class="row" align="center">
    		<button class="btn btn-primary" ng-click="ok()"> OK</button>
		</div>
		</div>

</div>
</div>